.social-icons{
  text-decoration: none;
  font-size: 60px;
}


a{
  color: rgb(46, 45, 38);
  background-color: #000000;
}
h1{
  color: rgb(1, 68, 40);
}
body{
  background-color: #0a4818;
}
h5,h4{
  background-color: #000000;
}
#negocio-bienvenida {
 h1,p,button{
    background: rgba(0,0,0,0.5);
    color: #000000;
  } 
}
 
